<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tw.com.elf.mapper.airshop.customerMapper.CustomerReviewsMapper">
  <resultMap id="BaseResultMap" type="tw.com.elf.model.airshop.customer.Reviews">
    <id column="REVIEW_ID" jdbcType="INTEGER" property="reviewId" />
    <result column="PRODUCT_ID" jdbcType="INTEGER" property="productId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="RATING" jdbcType="INTEGER" property="rating" />
    <result column="COMMENT" jdbcType="NVARCHAR" property="comment" />
    <result column="CREATED_AT" jdbcType="NVARCHAR" property="createdAt" />
    <result column="NAME" jdbcType="NVARCHAR" property="name" />
  </resultMap>
  
    <select id="getReviews" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
  	  REVIEW_ID,
	  PRODUCT_ID,
	  USER_ID,
	  RATING,
	  COMMENT,
	  FORMAT(CREATED_AT, 'yyyy-MM-dd') AS CREATED_AT,
	  NAME
  	from REVIEWS
  	<where>
  	  PRODUCT_ID = #{productId}
    </where> 
  	</select>
  
</mapper>